body {
	background: #556584;
	color: white;
	font-family: 'Apple Symbols',Arial,Helvetica,sans-serif; 
	font-size: 18px;
}

button {
   background: #EEEEEE;
   width: 100px;
   height: 30px;
   border-radius: 8px;
   border: 0;
   color: #2222FF;
   font-size: 17px;
   font-weight: bold;
   font-family: 'Apple Symbols',Arial,Helvetica,sans-serif;
}

img {
  width: 40%;
}